{
  "description": "Webpack Object Code Coverage Summary",
  "nyc": {
    "check-coverage": true,
    "per-file": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 100,
    "watermarks": {
      "lines": [80, 95],
      "functions": [80, 95],
      "branches": [80, 95],
      "statements": [80, 95]
    },
    "exclude": [
      "**/*.spec.js",
      "test/**/*.js"
    ],
    "reporter": [
      "lcov",
      "text",
      "html"
    ],
    "require": [ "babel-register" ],
    "all": true
  }
}
